.ui-layout-center,
.ui-layout-west {
    padding: 0;
    overflow: hidden;
}
.ui-layout-center P.ui-layout-content {
    line-height: 1.4em;
    margin: 0;
}

label {
   display: block;
   font-weight: bold;
}

#rolelisting {
    line-height: 1.4em;
}
