.slider {
    width: 100px;
}

.slider-value {
    border: 0;
    color: #f6931f;
    font-weight: bold;
    width: 16px;
}

.button-span {
    font-weight: bold;
    color: cornflowerblue;
}

.app-label {
    font-weight: bold;
    color: #696969;
    border: 1px;
}

.notice {
    font-size: 11px;
    font-style: italic;
}

button {
    margin-bottom: 9px;
}